{% extends 'adminDash.html' %} {% block content %}
{% load static %}

<head>
    <title>Head Quarter Master</title>
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
    <script src="{% static '/js/autosize.min.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css"  rel="stylesheet"/>
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <script src="{% static '/js/autosize.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static '/css/forms_common.css' %}">


    <script type="text/javascript">
        if (self === top) {
            var antiClickjack = document.getElementById("antiClickjack");
            antiClickjack.parentNode.removeChild(antiClickjack);
        }
        else {
            top.location = self.location;
        }
    </script>



    <style>
        /* .my-heading {
            font-family: Sans-serif;
            margin-top: 1rem;
            font-weight: 500;
            font-size: 2.5rem;
            text-align: center;
            Color: black;
            font-weight: bold;
        } */

        
    </style>
    <script>
        $(document).ready(function () {
            setDataTablePlugin();
        });

        function setDataTablePlugin() {
            $('#headquarterTable').DataTable({
                // 'scrollX': true,
                // "scrollY": "65vh",
                // "scrollCollapse": true,

                "pagingType": "full_numbers"

            });
        }
    </script>
</head>

<body>
    <br>
   
        <h3 class="report_heading"> Railway Admin Master</h3>

       
        <div class="container">
       
        {% if messages %} {% for message in messages %} {% if message.tags == 'success' %}
        <div class="alert alert-success alert-dismissible fade show" role="alert" style="text-align: center;">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% else %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="text-align: center;">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %} {% endfor %} {% endif %}
        
            <!-- CHANG090921 -->
            <button type="button" class="btn btn-warning btn-sm " style="float: right;"id="addnew" name="addnew"
                data-toggle="modal" data-target="#editheadquarterModal"><i class="fa fa-plus"
                 ></i> Add New</button>
            <!-- TILL HERE090921 -->

            <!-- <button type="button" class="btn btn-primary btn-sm float-right" id="addnew" name="addnew" data-toggle="modal" data-target="#editheadquarterModal"><i class="fa fa-plus"
                    style="margin-right: 10px;"></i>Add New</button> -->
       
        </div>
        <br><br>

        <div class="container" style="font-family:'Lato', sans-serif; overflow-x: auto;">
            <form  method="POST" class="d-inline " >
          
                {% csrf_token %}
               
                    <table class="table table-striped table-bordered table-sm table-data" id="headquarterTable" >
                        <thead >
                            <th >Sr No</th>
                            <th >Unit</th>
                            <th >Type </th>
                            <!--changes 12-08 Ritika Garg-->
                            <!-- <th style="width:15%">Address</th> -->
                            <th >Employee No.</th>
                            <th >Employee Name</th>
                            <th >Designation</th>
        
                            <th >Mobile No.</th>
                            <th >Phone</th>
                            <th >Email</th>
                            <th >User ID</th>
                            <th >Status</th>
                            <!-- <th style="width:auto;">City</th>
                            <th style="width:auto;">State</th> -->
                            <th >Action</th>        
                        </thead>
                        <tbody>
                            {% for g in headquarter %}
                            <tr>
                                <td>{{forloop.counter }}</td>
                                <td>{{g.location_code }}</td>
                                <td>{{g.location_type}}</td>
                                <!-- <td>{{g.address }}</td> -->
                                <td>{{g.admin }}</td>
                                <td>{{g.emp_name }}</td>
                                <td>{{g.designation }}</td>
                                <td>{{g.admin_mobile}}</td>
                                <td>{{g.admin_phone|default:'----'}}</td>
                                <td>{{g.admin_email}}</td>
                                <td>{{g.user_id}}</td>
                                <td><a onclick="deleteHeadQuarter('{{g.code}}@#@{{g.status}}')"  href="">{{g.status}}</a></td>
                                <!--changes 12-08 Ritika Garg-->
                                <!-- <td>{{g.district}}</td>
                                <td>{{g.state}}</td> -->
                                <!--till here 12-08 Ritika Garg-->
                                <td>
                                    <!-- CHANG090921 -->
                                    <button type="button" class="btn btn-outline-primary btn-sm" id="edit-{{g.code}}"
                                        name="{{g.location_code}}@#@{{g.location_type}}" data-toggle="modal"
                                        data-target="#editheadquarterModal" onclick="editHeadquarter(this)">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                    
                                    <!-- <button type="button" class="btn btn-danger" id="delete-{{g.code}}"
                                        name="delete-{{g.code}}" onclick="deleteHeadQuarter(this)">
                                        <i class="fa fa-trash"></i>
                                    </button> -->
                                    <!-- TILL HERE090921 -->
        
                                    <!-- <button type="button" class="btn btn-primary" id="edit-{{g.headquarter_code}}" name="edit-{{g.headquarter_code}}" data-toggle="modal" data-target="#editheadquarterModal" onclick="editHeadquarter(this)">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger" id="delete-{{g.headquarter_code}}" name="delete-{{g.headquarter_code}}" onclick="deleteHeadQuarter(this)">
                                        <i class="fa fa-trash"></i>
                                    </button> -->
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </form>
        </div>
        <br>
           
    <div class="modal fade" id="editheadquarterModal" tabindex="-1" aria-labelledby="editheadquarterModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="report_heading" id="exampleModalLabel">Headquarter Details</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        onclick="window.location.href=window.location.href;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" onsubmit="return validate();">
                    {% csrf_token %}
                    <div class="modal-body">
                        <p id="monthExistMsg" class="alert alert-danger" style="display: none;">Message</p>
                        <br>
                        <div class="row">

                            <input type="text" id="headquarter_code" name="headquarter_code" class="form-control"
                                hidden>

                            <div class="col-sm" id="headquarter_rly_div">
                                <label for="headquarter_rlly"><b>Railway Units<sup
                                            style="font-size: 15px; color:red;">*</sup></b></label>

                                <div id="storedheadquarterRly_div" style="display: none;">
                                    Previosly Filled:
                                    <input type="text" id="storedheadquarterRly" class="form-control" disabled> To
                                    change select below :
                                    <br><br>
                                </div>
                                <div style="display: flex;gap:20px;">
                                    <div>
                                        <label for="zonetype">Type</label>
                                        <select id="zonetype" class="custom-select"
                                            onchange="settingUpBuildHeadquarterRly(this);" style="min-width: 30%">
                                            <option value="" selected>--Select--</option>
                                            <!-- <option value="ZR">ZR (Zonal Railways)</option>
                                            <option value="PU">PU (Production Unit)</option>
                                            <option value="OT">OTHERS</option> -->
                                            {% for i in type %}
                                            <option> {{i.location_type}} </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div style="display: none;width: 0px;" hidden>
                                        <label for="parent_zone">Parent Zone</label>
                                        <select id="parent_zone" name="parent_zone" class="form-control"
                                            style="min-width: 30%" onchange="buildInstituteRly();">
                                            <option selected value="">--Select--</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label for="headquarter_rly">Description</label>
                                        <select id="headquarter_rly" name="headquarter_rly" class="form-control"
                                        onchange="fetchEmployee(this);"
                                            style="min-width: 30%" required>
                                            <option selected value="">--Select--</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-1" style="display: none;">
                                    <label for="headquarter_status"><b>Status<sup
                                                style="font-size: 15px; color:red;">*</sup></b></label>
                                    <input type="text" id="headquarter_status" name="headquarter_status"
                                        class="form-control" maxlength="10" value="Active"
                                        onchange="trimtextfield(this);">
                                </div>



                            </div>
                            <!-- change 1609 -->
                            <!-- <div class="col-sm-4">
                                <br>

                                <label for="headquarter_address"><b>Address<sup
                                            style="font-size: 15px; color:red;">*</sup></b></label>
                                <input type="text" id="headquarter_address" name="headquarter_address"
                                    class="form-control" maxlength="100" onchange="trimtextfield(this);">

                            </div> -->
                            <div class="col-sm-4" id="userid">
                                <br>

                                <label for="userid">User ID</label>
                                <input type="text" id="userid" name="userid"
                                    class="form-control" maxlength="100" onchange="trimtextfield(this);" readonly>

                            </div>
                        </div>
                        <div class="row mt-2">
                            <!-- <div class="col-sm-3">
                                <label for="headquarter_state"><b>Pincode<sup
                                            style="font-size: 15px; color:red;">*</sup></b></label>
                                <input type="number" id="pincode" name="pincode" class="form-control" min="100000"
                                    onchange="mycityandstate();">
                            </div> -->
                            <div class="col-sm-4 form-group">
								<label>Employee No</label><span style="color:red;font-weight:bold">*</span>
								<input type="text" name="empno" id="empno" placeholder="Enter Employee ID" maxlength="12" autocomplete="off" onkeypress="alphanumeric(event)" onclick="get_empno(this)" onblur="get_empno(this)" class="form-control" required autocomplete="off">
                                
                            </div>

                            <!-- <div class="col-sm-3">
                                <label for="headquarter_city"><b>City</b></label>
                                <input type="text" id="headquarter_city" name="headquarter_city" class="form-control"
                                    readonly>
                            </div> -->
                            <div class="col-sm-4 form-group">
								<label>Employee  Name</label><span style="color:red;font-weight:bold">*</span>
								<input type="text" name="empname" id="empname"  placeholder="Enter full Name "  maxlength="30" class="form-control" required>
                            </div>
                            <!-- <div class="col-sm-3">
                                <label for="headquarter_state"><b>State</b></label>
                                <input type="text" id="headquarter_state" name="headquarter_state" class="form-control"
                                    readonly>
                            </div> -->
                            <div class="col-sm-4 form-group">
								<label>Designation</label><span style="color:red;font-weight:bold">*</span>
								<input type="text" name="designation" id="designation"  placeholder="Enter Designation" onkeypress="desigvalidation(event)"  maxlength="30" class="form-control" required>
                            </div>
                            <!-- <div class="col-sm-3">
                                
                                

                                    <label for="headquarter_admin">Admin<sup
                                        style="font-size: 15px; color:red;">*</sup></label>
                                    <select id="headquarter_admin" name="headquarter_admin" class="form-control" readonly
                                        style="min-width: 30%"  onchange="fetchData(this);" required >
                                        <option selected value="">--Select--</option>
                                    </select>
                            </div> -->
                            <!-- <div class="col-sm-3 form-group">
								<label>Official contact No.</label><span style="color:red;font-weight:bold">*</span>
								<input type="text" name="contact" id="contact"  placeholder="Enter Contact No. "  maxlength="30" class="form-control" required>
                            </div> -->
                        </div>
                        <div class="row mt-2">

                            <div class="col-sm-4">
                                <label for="admin_email">Official Email<sup
                                            style="font-size: 15px; color:red;">*</sup></label>
                                <input type="email" id="admin_email" name="admin_email" placeholder="Enter email" class="form-control"
                                    maxlength="50" onchange="sendMobile(admin_email);">
                            </div>

                            <div class="col-sm-4">
                                <label for="admin_mobile">Mobile<sup
                                            style="font-size: 15px; color:red;">*</sup></label>
                                <input type="tel" id="admin_mobile" name="admin_mobile" placeholder="Enter mobile" class="form-control"
                                    minlength="10" onkeypress="return validatingForNumeric(event);"
                                    onblur="limitNumericInput(this,10,exactly=true);" maxlength="10">

                            </div>
                            <!-- <div class="col-sm-4">
                                <label for="admin_phone"><b>Phone</b></label>
                                <input type="tel" id="admin_phone" name="admin_phone" class="form-control"
                                    minlength="11" onkeypress="return validatingForNumeric(event);"
                                    onblur="limitNumericInput(this,11,exactly=true);" maxlength="11">-->
                            <div class="col-sm-4">
                                <!-- change25 -->
                                <label for="admin_phone">Phone</label>
                                <input type="tel" id="admin_phone" name="admin_phone" placeholder="STD code - Phone No."
                                    pattern="[^A-Za-z(){}@$#%]{1,12}" class="form-control" minlength="11"
                                    onblur="limitNumericInput(this,12,exactly=true);" maxlength="12">
                            </div>
                            
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success" onclick="showuserid()">Save</button>
                            <button type="reset" class="btn btn-secondary" data-dismiss="modal"
                                onclick="window.location.href=window.location.href;">Close</button>
                           
                        </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function showuserid(){
            alert(val2);
        }
        function trimTextField(el) {
            el.value = String(el.value).trim();
            return;
        }

        function alphanumeric(e)
        {
          var code=('charcode' in e) ? e.charCode:e.keyCode;
          if(
            !(code>47 && code<58) && !(code>64 && code<91) && !(code>96 && code<123)
          ){
            e.preventDefault();
          }
        }

        function deleteHeadQuarter(el) {
            // alert(el);
            el=el.split('@#@');
            status=el[1];
            id=el[0];
            if(status=="InActive")
                var confirm = window.confirm("Are you sure to Active this HearQuarter??");
            else if(status=="Active")
                var confirm = window.confirm("Are you sure to InActive this HearQuarter??");
            if (!confirm)
                return;
            // var _id = el.id;
            // _id = String(_id).split('-')[1]


            let csr = $("input[name='csrfmiddlewaretoken']").val();
            var mydata = {
                'id': id,
                // 'id': _id,
                'csrfmiddlewaretoken': csr,
            }
            $.ajax({
                url: "{% url 'deleteHeadQuarter' %}",
                method: "POST",
                dataType: "JSON",
                data: mydata,
                success: function (data) {
                    if (data.status == 1) {
                        // $(el).closest('tr').remove();
                        window.location.href = window.location.href;
                    } else {
                        console.log("failed kaushalvikas_deleteHeadQuarter");
                    }
                }
            });
        }

        function limitNumericInput(el, digit, exactly = false) {
            let len = String(el.value).trim().length;

            if (exactly) {
            //     if (len != digit) {
            //         alert(`You Can enter only ${digit} digits`)
            //         el.value = '';
            //     }
            // } else {
                if (len > digit) {
                    alert(`You Can enter maximum of ${digit} digits`)
                    el.value = '';
                }
            }

            return;
        }

        function validate() {
            if ((document.getElementById('headquarter_address').value == '') || (document.getElementById(
                'headquarter_state').value == '') ||
                (document.getElementById('headquarter_city').value == '') || (document.getElementById('headquarter_admin')
                    .value == '') || (document.getElementById('admin_mobile')
                        .value == '') ||
                (document.getElementById('admin_email').value == '')) {

                alert("Please enter all the fields");
                return false;

            }
            return true;

        }

        const headquarter_rly_drop = document.getElementById("headquarter_rly");
        const parent_zone_drop = document.getElementById("parent_zone");
        const divparent = parent_zone_drop.parentElement;

        function settingUpBuildHeadquarterRly(el) {
            var zonetype = String(el.value).trim();
            headquarter_rly_drop.innerHTML = `<option selected value="">--Select--</option>`;
            parent_zone_drop.innerHTML = `<option selected value="">--Select--</option>`;
            if (zonetype == "ZR" || zonetype == "PU" ||zonetype=="O" || zonetype=="PSU" || zonetype=="CTI") {
                divparent.style.display = "none";
                divparent.style.width = "0px";
                buildInstituteRly();
            } else {

                divparent.style.display = "";
                divparent.style.minWidth = "30%";
                const zonearray = getParentZones(zonetype);


            }
        }

        function getParentZones(zonetype) {

            if (zonetype == "")
                return;
            let csr = $("input[name='csrfmiddlewaretoken']").val();
            var mydata = {
                'zonetype': zonetype,
                'csrfmiddlewaretoken': csr,
            }
            $.ajax({
                url: "{% url 'getParentZones' %}",
                method: "POST",
                dataType: "JSON",
                data: mydata,
                success: function (response) {
                    console.log(response.parent_location_data);
                    var i = 1;
                    for (var key in response.parent_location_data) {

                        parent_zone_drop.options[i] = new Option(response.parent_location_data[key], key);
                        i = i + 1;
                    }

                },
                error: function (err) {
                    alert("Server error");
                }
            });
        }
        function sendMobile(mail)
        {
            var mail=$('#mail').val();
        }

        function buildInstituteRly() {

            const zonetype = document.getElementById("zonetype").value;
            const parentzone = String(parent_zone_drop.value).trim();
            if (zonetype == "")
                return;
            let csr = $("input[name='csrfmiddlewaretoken']").val();
            var mydata = {
                'zonetype': zonetype,
                "parentzone": parentzone,
                'csrfmiddlewaretoken': csr,
            }
            $.ajax({
                url: "{% url 'buildInstituteRly' %}",
                method: "POST",
                dataType: "JSON",
                data: mydata,
                success: function (response) {
                   
                    console.log(response);
                    for (var i = 0; i < response.location.length; i++) {
                        console.log(response.location.location_description)
                        headquarter_rly_drop.options[i + 1] = new Option(response.location[i]
                            .location_description, response.location[i].location_code);
                    }

                }
            });

        }
        function fetchEmployee(el)
        {

            var desc=$('#headquarter_rly').val();
            // alert(desc)
            var mydata = {
                'desc':desc,
            }
           
            $.ajax({
                url: "{% url 'fetchEmployee' %}",
                method: "GET",
                dataType: "JSON",
                data: mydata,
                success: function (response) {
                    $("#headquarter_admin").attr("readonly", false); 
                    for (var i = 0; i < response.employees.length; i++) {
                        headquarter_admin.options[i + 1] = new Option(response.employees[i].empno)
                    }
                }
            });

        }
        function fetchData(el)
        {
            var empno=$('#headquarter_admin').val();
            // alert(desc)
            var mydata = {
                'empno':empno,
            }
            $.ajax({
                url: "{% url 'fetchData' %}",
                method: "GET",
                dataType: "JSON",
                data: mydata,
                success: function (response) {
                    var headquarterData = response.details[0];
                        $('#admin_email').val(headquarterData["email"])
                        $('#admin_mobile').val(headquarterData["contactno"])
                }
            });
        }



        function editHeadquarter(el) {

            var _id = el.id;
            var name = el.name;
            name=name.split('@#@')


            console.log("id ==> " + _id);
            _id = String(_id).split('-')[1]


            let csr = $("input[name='csrfmiddlewaretoken']").val();
            var mydata = {
                'id': _id,
                'csrfmiddlewaretoken': csr,
            }
            $.ajax({
                url: "{% url 'editHeadquarter' %}",
                method: "POST",
                dataType: "JSON",
                data: mydata,
                success: function (data) {
                    if (data.status == 1) {

                        var headquarterData = data.headquarterData[0];
                        $('#headquarter_code').val(headquarterData["code"]);
                        $('#zonetype').val(name[1]);
                        $('#headquarter_rly').val(name[0]);
                        
                        $('#empno').val(headquarterData["admin"]);
                        $('#empname').val(headquarterData["emp_name"]);
                        $('#designation').val(headquarterData["designation"]);


                        $('#pincode').val(headquarterData["pincode_id"]);
                        $('#headquarter_address').val(headquarterData["address"]);
                        $('#headquarter_state').val(headquarterData["headquarter_state"]);
                        $('#headquarter_city').val(headquarterData["headquarter_city"]);
                        $('#headquarter_admin').val(headquarterData["admin"]);
                        $('#empno').val(headquarterData["admin"]);
                        $('#empname').val(headquarterData["emp_name"]);
                        $('#designation').val(headquarterData["designation"]);
                        $('#admin_phone').val(headquarterData["admin_phone"]);
                        $('#admin_mobile').val(headquarterData["admin_mobile"]);
                        $('#admin_email').val(headquarterData["admin_email"]);
                        $('#admin_phone').val(headquarterData["admin_phone"]);
                        $('#storedheadquarterRly').val(headquarterData["headquarter_rly"]);
                        $('#storedheadquarterRly_div').show();
                        $('#userid').hide();
                        // document.getElementById("headquarter_rly").required = false;
                        // $('#headquarter_rly').attr("required",false);

                    } else {
                        console.log("months fetching failed");
                    }
                },
                error: function (err) {
                    alert("server error,0000000000");
                }
            });

        }


        function mycityandstate() {
            var pin = $("#pincode").val();
            console.log("pincode data fetching");
            let csr = $("input[name='csrfmiddlewaretoken']").val();
            var mydata = {
                'pincode': pin,
                'csrfmiddlewaretoken': csr,
            }

            $.ajax({
                url: "{% url 'fetchStateCity' %}",
                method: "POST",
                dataType: "JSON",
                data: mydata,
                success: function (data) {
                    if (data.status == 200) {
                        if (data.pincodedata != "NULL") {
                            $("#headquarter_city").val(data.pincodedata.district);
                            $("#headquarter_state").val(data.pincodedata.state);

                        } else {
                            alert("No Record found, Please contact on helpdesk.");
                            $("#pincode").val('');
                            $("#headquarter_city").val('');
                            $("#headquarter_state").val('');
                        }
                    }



                }

            });
        }

        function desigvalidation(e)
        {
          var code=('charcode' in e) ? e.charCode:e.keyCode;
          if(
            !(code>64 && code<91) && !(code>96 && code<123) && !(code>39 && code<42) && !(code==45) && !(code==47)
          ){
            e.preventDefault();
          }
        }
    </script>
</body>


{% endblock content %}