{% extends 'adminDash.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



<title>Roster Draft Details</title>
  <style type="text/css">
   table {
  counter-reset: section;
}

  </style>

  <style>
* { box-sizing: border-box; }
body {
font: 14px ;
}
.autocomplete {
/*the container must be positioned relative:*/
position:relative;
display: inline-block;

/* overflow: hidden; */
}

input {
border: 1px solid transparent;
background-color: #f1f1f1ef;
padding: 6px;
font-size: 16px;
}
input[type=text] {
background-color: #f1f1f1;

width: 100%;
}
input[type=submit] {
background-color: DodgerBlue;
color: #fff;
}
.autocomplete-items {
position: absolute;
border: 1px solid #d4d4d4;
border-bottom: none;
border-top: none;
z-index: 100;
/*position the autocomplete items to be the same width as the container:*/
top: 100%;
left: 0;
right: 0;
max-height: 100px;
overflow-y: scroll;
overflow-x: hidden;
}
.autocomplete-items div {
padding: 8px;
cursor: pointer;
background-color: #fff;
border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
/*when hovering an item:*/
background-color: #e9e9e9;
}
.autocomplete-active {
/*when navigating through the items using the arrow keys:*/
background-color: DodgerBlue !important;
color: #ffffff;
}

.select2-container--default .select2-selection--single{
    padding:0.5px;
    height: 35px;
    /*  48px;  */
    font-size: 16px;  
    position: relative;
}


</style>

  <!--  <button type="button" class="btn btn-success" onclick="addOfficer()">Add More Officers</button><br> -->
    <div style="margin-left:90%;margin-top:2%" >
<a href="{%url 'roster_draft_list' %}"> <button type="button" style="margin-top: 1.4em; "class="btn btn-primary" >Back</button></a>
</div> 
</head>

<body>
  
    <div style="text-align: center;">
        <h3> Inspection Officer Detail(Draft)</h3><br>
    </div>
        <div style="text-align:left">
       
          <input name="cardId" id="cardId" value="{{id}}" hidden>
        </div>

        <div id="selectedDate" style="text-align:center">
          <!-- <h6 style="margin-left: 24%;">Roster Period:</h6> -->

          <label for="roster_id" >Roster id:</label>
          <input  value="{{roster_no}}" id="roster_no" readonly="readonly">

          <label for="fdate"style="text-align:center" >From Date:</label>
          <input  value="{{frdate}}" id="strtdt" readonly="readonly">
       

          <label for="tdate" style="text-align:center" >To Date:</label>
          <input value="{{todate}}" id="enddatedt" readonly="readonly"><br><br><br>
        </div>
        <!-- <div style="text-align: center;"> -->
        <!-- <div class="container" id="addofficer">
          <div style="text-align: center;">

            <section class="section_2">
            
              <section id="clone_section0" style="background-color: #E9ECEF;">
              
              <form autocomplete="off" action="" method="POST" class="form-horizontal" id="indexForm">
                {% csrf_token %}
             
              
              <div class="table-responsive ">
                <table class="table table-bordered table-striped table-highlight" id="tb0">
                  <thead>
                     
                    <th>Designation</th>
                    <th>Officer Name</th>
                    <th style="width:10%">Select Officer</th>
                    <th style="text-align:center">Roster Details</th><br>

            
                    
                     <th button type="button"  class="btn btn-primary mt-2" id="addMore0" title="Add More officer"  onclick="multipleInspection()" value="0" ><span class="glyphicon glyphicon-plus"></span></thbutton> -->
                    <!-- <th style="font-size:18px;" id="addMore" title="Add More officer"><span class="glyphicon glyphicon-plus"></span></th> -->
                  <!-- </thead> 
                  
                  <tbody id="addworkmech0">
                    
                    
                    <tr>
                        <td>
                            <select class="form-control" name="empno0" id="empno0" class="custom-select" onchange="fetch_officer(this);">
                                <option selected disabled="true">---Select Designation---</option>
                                {% for i in empno %}
                                <option value="{{i.empno}}">{{i.designation}}</option>
                                {% endfor %}
                            </select>
                          </td>
            
                          <td> -->
                            <!-- <select class="form-control" id="name" class="custom-select">
                                <option selected disabled="true" >---Select Officer Name---</option> -->
                                
                              <!-- <input type="text" readonly="readonly" value="---Select Officer Name---" class="form-control" id="name0" name="name0">
                              <span></span>
                            </input>
              
                          </td>
                          
                        
                          <td>
                            <input class="onoffswitch-checkbox" type="checkbox" value="" id="flexCheckIndeterminate0" checked>
                            <label class="form-check-label" for="flexCheckIndeterminate" style="margin-left: 10%;"></label>&nbsp;&nbsp;
                          </td>
                          
                          <td>
                            <table class="table table-bordered">
                              <th colspan="4">ONWARD</th>
                              <tr>
                                <td>
                                  <select class="form-control" id="secid0" >
                                    <option selected disabled="true" >---Section---</option>
                                    {% for j in section_code %}
                                    <option value="{{j.secid}},{{j.section_code}}">{{j.section_code}}</option>
                                    {% endfor %}
                                  </select>
                                </td>
                                <td>
                                    <select class="form-control" name ="shortcode0" id="shortcode0"  onchange="fetch_trainDetails();">
                                      <option selected disabled="true" >---Inspection type---</option>
                                      {% for j in shortcode %}
                                      <option value="{{j.shortcode}}">{{j.shortcode}}</option>
                                      {% endfor %}
                                    </select>
                                </td>
                                <td>
                                  <div class="autocomplete">
                                    <input type="text"value = "" maxlength = "3" name="details" placeholder="details" id="details0"> 
                                  </div>
                              </td>
                              <td>
                                  <label for="work"></label>
                                  <input type="text" class="date_range" id="work0" name="work" placeholder="dd/mm/yyyy" readonly>
                              </td>
                              
                              </tr>
                              <th colspan="4">BACKWARD</th>
                              <tr>
                                <td>
                                  <select class="form-control" id="secidd0" >
                                    <option selected disabled="true" >---Section---</option>
                                    {% for j in section_code %}
                                    <option value="{{j.secid}},{{j.section_code}}">{{j.section_code}}</option>
                                    {% endfor %}
                                  </select>
                              <td>
                                <select class="form-control" id="shortcodee0" onchange="fetch_trainDetails2()";>
                                  <option selected disabled="true" >---Inspection type---</option>
                                  {% for j in shortcode %}
                                  <option value="{{j.shortcode}}">{{j.shortcode}}</option>
                                  {% endfor %}
                                </select>
                              </td>
                             
                              <td>
                                <div class="autocomplete" >
                                <input  type="text" value = "" maxlength = "3" name="details" placeholder="details" id="detailss0"> 
                              </div>                   
                            </td>
                         
                                <td>
                                    <label for="work"></label>
                                    <input type="text" class="date_range"id="workk0" name="workk"placeholder="dd/mm/yyyy" readonly>
                                </td>
                               
                              </tr>
                              <th colspan="4">OTHERS</th>
                              <tr>
                                <td>
                                  <select class="form-control" id="seciddd0" >
                                    <option selected disabled="true" >---Section---</option>
                                    {% for j in section_code %}
                                    <option value="{{j.secid}},{{j.section_code}}">{{j.section_code}}</option>
                                    {% endfor %}
                                  </select>
                              </td>
                              <td>
                                <select class="form-control" id="shortcodeee0" onchange="fetch_trainDetails3();">
                                  <option selected disabled="true" >---Inspection type---</option>
                                  {% for j in shortcode %}
                                  <option value="{{j.shortcode}}">{{j.shortcode}}</option>
                                  {% endfor %}
                                </select>
                            </td>
                            
                            <td>
                              <div class="autocomplete" >
                              <input  type="text" value = "" maxlength = "3"name="details" placeholder="details" id="detailsss0">  
                            </div>                  
                          </td>
                          
            
                                <td>
                                    <label for="work"></label>
                                    <input type="text" class="date_range"id="workkk0" name="workkk" placeholder="dd/mm/yyyy"readonly>
                                </td>
                               
                              </tr>
                            </table>
                           </td>
                           
                    </tr>
                  </tbody>
                </table>
              </div>
            </form> 
            </section>
            </section>
            <button type="button" style="text-align: center" class="btn btn-primary" onclick="validateSaveForm()">Submit</button></a>
          </div>
        </div>
        <br><br><br> --> 

        <form class="form-horizontal" id="indexForm" style="margin-left:5%;margin-right:5%">
      <div class="table-responsive container-fluid" >
        <table class="table table-bordered table-striped table-highlight" id="userData">
        <thead>
            <tr >
              <th style="text-align:center">S.No</th>
              <th style="text-align:center">Date</th>
                <th style="text-align:center">Designation</th>
                <th style="text-align:center">Section</th>
                <th style="text-align:center" >Inpection Type</th>
                <th style="text-align:center">Detail</th>
                <th style="text-align:center">Action</th>
            </tr>
        </thead>
        <tbody></tbody>
                
      </table>
      </div>
    </form>

    <div class="modal fade" id="Modal" role="dialog" aria-labelledby="userModal" aria-hidden="true">
      <div class=" modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header" style="text-align:center">
            <h3 class="modal-title text-center" id="userModal"style="text-align:center">Edit Roster(Draft)</h3>
            <button  type="button" class="close btn btn-danger" id="closemodal" data-dismiss="modal" aria-label="Close"  ><span aria-hidden="true" class="">&times;</span></button> 
          </div>
          <div class="modal-body">
            <form autocomplete="off" action="" method="POST" class="form-vertical" id="indexForm2">
              {% csrf_token %}
            <div class="table-responsive">
              <table class="table table-bordered table-striped table-highlight" id="tb0">
                      <thead> 
                        <th style="text-align:center">Designation</th>
                        <th style="text-align:center">Officer Name</th>
                        <th style="text-align:center">Section</th>
                        <th style="text-align:center" >Inspection Type</th>
                        <th style="text-align:center"> Details</th>
                        <th style="text-align:center"> Date</th>
                      </thead>
                      <tbody id="addworkmech0">
                        <tr>
                          <td>
                              <select class="form-control select2" name="empno_m"id="empno_m" class="custom-select" onchange="fetch_officer2(this);">
                                  <option selected disabled="true">---Select Designation---</option>
                                  {% for i in empno %}
                                  <option value="{{i.empno}}">{{i.designation}}</option>
                                  {% endfor %}
                              </select>
                            </td>
              
                            <td>
                              <!-- <select class="form-control" id="name" class="custom-select">
                                  <option selected disabled="true" >---Select Officer Name---</option> -->
                                  
                                <input type="text" readonly="readonly" value="---Select Officer Name---" class="form-control" id="name_m" name="name_m">
                                <span></span>
                              </input>
                
                            </td>
                            
                                  <td>
                                      <select class="form-control select2" name="secid_m" id="secid_m">
                                        <option selected disabled="true" >---Section---</option>
                                        {% for j in section_code %}
                                        <option value="{{j.section_code}}">{{j.section_code}}</option>
                                        {% endfor %}
                                      </select>
                                  </td>
                                  <td>
                                      <select class="form-control select2" name ="shortcode_m" id="shortcode_m"  onchange="fetch_trainDetails_m();">
                                        <option selected disabled="true" >---Inspection type---</option>
                                        {% for j in shortcode %}
                                        <option value="{{j.shortcode}}">{{j.shortcode}}</option>
                                        {% endfor %}
                                      </select>
                                  </td>
                               <td>
                                <div class="autocomplete">
                                  <input type="text" class="form-control"value = "" maxlength = "3"name="details_m" placeholder="details" id="details_m"> 
                                </div>
                              </td>
                                <td>  
                                  <input type="text"class="form-control" id="work_m" placeholder="dd/mm/yyyy"name="work_m"readonly>
                                </td>
                                </tr>
                               
                    </table>
                  </div>
             <div style="text-align:center">  
              <!-- <button type="submit" id="update_m1" onclick="updatee()" class="btn btn-success" style="margin-top:5px;" data-dismiss="modal">Submit</button> -->
          <button type="submit" id="update_m2" onclick="updatee2()" class="btn btn-success" style="margin-top:5px;" data-dismiss="modal">Update</button>
          
        </div> 
        </div>
        </div>
      </div>
    </div>
      
<script>
// var globalstrdt,globalenddt;

$(document).ready(function(){

//   $("#addofficer").hide()

});

$('.select2').select2();

function autocomplete(inp, arr) {
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
              b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
      x[i].parentNode.removeChild(x[i]);
    }
  }
}
/*execute a function when someone clicks in the document:*/
document.addEventListener("click", function (e) {
    closeAllLists(e.target);
});
}

$(function() {
let ft = $('#strtdt').val()
console.log("hiiiiiiiiiii",ft)
let tt = $('#enddatedt').val()
console.log("hiiiiiiiiiii",tt)
 $( "#work_m" ).datepicker({ 
              // maxDate: tdate,
              // enddate:"currentdate",
              dateFormat: "dd/mm/yy",
              changeMonth : true, 
              changeYear : true,
              todayHighlight: true,
              clearBtn:true,
              autoclose: true,
              minDate: ft,
              maxDate: tt,
            });

});

var table = $('#userData').DataTable()

$(document).ready(function(){
  strtdt=document.getElementById('strtdt').value;
  console.log(strtdt)
  enddatedt=document.getElementById('enddatedt').value;
  roster_no=document.getElementById('roster_no').value;
  console.log(roster_no)
  data={'strtdt':strtdt,'enddatedt':enddatedt,'roster_no':roster_no}
            $.ajax({
                url:"{% url 'showUserDataDraft' %}",
                dataType: 'json',
                type:'GET',
                data: data,
                success: function(response){
                 
                  table.destroy()
                      // var s=0;
                    for(i=0;i<response.user.length;i++){
                   
                        $('#userData tbody').append(
                        `<tr>
                          
                           <td style="text-align:center">${i+1}</td>
                          <td style="text-align:center"> ${response.user[i].doi}</td>
                           <td style="text-align:center"> ${response.user[i].xyz}</td>
                           <td style="text-align:center"> ${response.user[i].sec}</td>
                            <td style="text-align:center"> ${response.user[i].abc}</td>
                            <td style="text-align:center"> ${response.user[i].detail}</td>
                               
                           
                            <div>
                            <td style="text-align:center"><button type="button" id="${response.user[i].rostdetailid}" onclick="edit(this)" class="btn btn-warning"data-toggle="modal" data-target="#Modal"><i class="fas fa-pen"></i></button>
                            <button type="button" id="${response.user[i].rostdetailid}" onclick="delet(this)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button></td> 
                            </div>
                            
                            </tr>`
            )
          }
          table = $('#userData').DataTable()
                }
            })
          
          });

  
          $("#closemodal").click(function () {
            // alert('ghjkl')
            // $("#Modal").hide()
            window.location.reload()
        });
  
  function validateSaveForm() {
  //let x = document.forms["indexForm"]["fdate"].value;
  // var x = $('#fdate').val()
  var a = document.getElementById("empno0").value;

  var b = document.getElementById("secid0").value;
  var c = document.getElementById("shortcode0").value;
  var d = document.getElementById("details0").value;
  var e = document.getElementById("work0").value;
  
  var b1 = document.getElementById("secidd0").value;
  var c1 = document.getElementById("shortcodee0").value;
  var d1 = document.getElementById("detailss0").value;
  var e1 = document.getElementById("workk0").value;

  var b2 = document.getElementById("seciddd0").value;
  var c2 = document.getElementById("shortcodeee0").value;
  var d2 = document.getElementById("detailsss0").value;
  var e2 = document.getElementById("workkk0").value;
  // alert(a)
  if (a == ""|| a==null || a=="---Select Designation---") {
    alert('Designation must be filled out');
    return false;
  }
 
  if (b == ""||b=="---Section---") {
    alert('Section must be filled out(ONWARD)');
    return false;
  }
  
  if (c == ""||c=="---Inspection type---") {
    alert('Inspection type must be filled out(ONWARD)');
    return false;
  }

  if (d == "") {
    alert('Train/Station detail must be filled out(ONWARD)');
    return false;
  }

  if (e == "") {
    alert('Date must be filled out(ONWARD)');
    return false;
  }

  if (b1 == ""||b1=="---Section---") {
    alert('Section must be filled out(BACKWARD)');
    return false;
  }
  
  if (c1 == ""||c1=="---Inspection type---") {
    alert('Inspection type must be filled out(BACKWARD)');
    return false;
  }

  if (d1 == "") {
    alert('Train/Station detail must be filled out(BACKWARD)');
    return false;
  }

  if (e1 == "") {
    alert('Date must be filled out(BACKWARD)');
    return false;
  }

  if (b2 == ""||b2=="---Section---") {
    alert('Section must be filled out(OTHERS)');
    return false;
  }
  
  if (c2 == ""||c2=="---Inspection type---") {
    alert('Inspection type must be filled out(OTHERS)');
    return false;
  }

  if (d2 == "") {
    alert('Train/Station detail must be filled out(OTHERS)');
    return false;
  }

  if (e2 == "") {
    alert('Date must be filled out(OTHERS)');
    return false;
  }
  saveDetails();
  //  <a href="{%url 'roster_list' %}"></a> 
  URL="{% url 'roster_list' %}";
  window.open(URL, '_blank');
}

 function delet(i)
 {
  let rostdetailid = i.id;
    //  alert(rostdetailid)
     console.log(rostdetailid)
     data={'rostdetailid':rostdetailid}
  // let inspection_officer_id = i.id;
  //    alert(inspection_officer_id)
  //    console.log(inspection_officer_id)
  //    data={'inspection_officer_id':inspection_officer_id}
  r= confirm('Are you sure you want to delete the Data!')
      if(r==true){
        console.log("true")
        $.ajax
     ({
         url:'{% url "delet" %}',
         dataType:'json',
         type:'GET',
         data:data,
         success :function(response)
         {
             alert("Your data is deleted.")
             window.location.reload()
         }
     })
 } 
      else{
        window.location.reload();
      }
    }

function updatee2(){
      let designation1 = $('#empno_m').val()
      // alert(designation)
      let doi1 = $('#work_m').val()
      let inspectionof1 = $('#shortcode_m').val()
      let section1 = $('#secid_m').val()
      // alert(section1)
      let detail1 = $('#details_m').val()

      var token = '{{ csrf_token }}';   
        
        $.ajax({
        type:'POST',       
        data:{id,designation1,doi1,inspectionof1,section1,detail1,csrfmiddlewaretoken:'{{ csrf_token }}'},
        url:'{% url "update_m1" %}',
        dataType:'json',
            success: function(response)
            {
                alert('Your update has been made')
                // $('#closeupdate').click();
                window.location.reload();
            }
        })
}

// function addOfficer()
// {
//   // $("#addofficer").show()
//       let fromdate = $('#strtdt').val()
//       let todate = $('#enddatedt').val()
//       // globalstrdt=fromdate;
//       // globalenddt=todate;
//       // $('#strtdt').val(globalstrdt);
//       // $('#enddatedt').val(globalenddt);
      
//       document.getElementById("work0").setAttribute("min", fromdate);
//       document.getElementById("work0").setAttribute("max", todate);
//       $('#work0').val(todate);

//       document.getElementById("workk0").setAttribute("min", fromdate);
//       document.getElementById("workk0").setAttribute("max", todate);
//       $('#workk0').val(todate);

//       document.getElementById("workkk0").setAttribute("min", fromdate);
//       document.getElementById("workkk0").setAttribute("max", todate);
//       $('#workkk0').val(todate);

//       $("#addofficer").show()
// }

function saveDetails() {
      let designation = $('#empno0').val()
      let section = $('#secid0').val()
      let inspectionof = $('#shortcode0').val()
      let detail = $('#details0').val()
      let doi = $('#work0').val()

      let section1 = $('#secidd0').val()
      let inspectionof1 = $('#shortcodee0').val()
      let detail1 = $('#detailss0').val()
      let doi1 = $('#workk0').val()
      
      let section2 = $('#seciddd0').val()
      let inspectionof2 = $('#shortcodeee0').val()
      let detail2 = $('#detailsss0').val()
      let doi2 = $('#workkk0').val()
      
      var token = '{{ csrf_token }}';    
    $.ajax({
        type:'POST',       
        data:{designation,doi,inspectionof,section,detail,doi1,inspectionof1,section1,detail1,doi2,inspectionof2,section2,detail2, csrfmiddlewaretoken:'{{ csrf_token }}'},
        url:'{% url "saveDataa" %}',
        dataType:'json',
      
        success: function (response) {
          alert('Data saved successfully')
        }
      })
    }


    
   
    function fetch_trainDetails_m(){
    
    var inspection_type =$('#shortcode_m').val(); 
    var traindata=[];
    var traindata2=[];

    $.ajax({
       type:"GET",
       dataType:"json",
       url:"{% url 'train_details' %}",
       success:function(response){
        
       for(let i=0;i<response.train_no.length;i++){
              traindata.push(String(response.train_no[i]));
        }
 
       for(let j=0;j<response.stnshortcode.length;j++){
              traindata2.push(String(response.stnshortcode[j]));
        }
        
        if(inspection_type=='FP'|| inspection_type=='LC' || inspection_type=='OB' ||  inspection_type=='RR'){    
          alert('enter train no.only(use 0 to 9)')  
          autocomplete(document.getElementById('details_m'),traindata);
        }else  if(inspection_type=='SI'){
          alert('enter station code (use A to Z)')
          autocomplete(document.getElementById('details_m'),traindata2);
        }
        
      }
       })
      }


  function fetch_trainDetails(){
    
    var inspection_type =$('#shortcode0').val(); 
    var traindata=[];
    var traindata2=[];

    $.ajax({
       type:"GET",
       dataType:"json",
       url:"{% url 'train_details' %}",
       success:function(response){
        
       for(let i=0;i<response.train_no.length;i++){
              traindata.push(String(response.train_no[i]));
        }
 
       for(let j=0;j<response.stnshortcode.length;j++){
              traindata2.push(String(response.stnshortcode[j]));
        }
        
        if(inspection_type=='FP'|| inspection_type=='LC' || inspection_type=='OB' ||  inspection_type=='RR'){    
          alert('enter train no.only(use 0 to 9)')  
          autocomplete(document.getElementById('details0'),traindata);
        }else  if(inspection_type=='SI'){
          alert('enter station code (use A to Z)')
          autocomplete(document.getElementById('details0'),traindata2);
        }
        
      }
       })
      }

      var id=0;
      function edit(U){
        id=U.id
        // alert(id)
        var data={
          'id':id,
        }

      $.ajax({
       type:"GET",
       dataType:"json",
       url:"{% url 'edit_details' %}",
       data:data,
       success:function(response){
        console.log(response)
        console.log('desaf',response.designation)
        let row = '<option selected value="' + response.designation + '">' + response.designation + ' </option>';
        $('#empno_m').append(row)
        console.log('empname',response.empname)
        $('#name_m').val(response.empname)
        console.log('section',response.section)
        let row1 = '<option selected value="' + response.section + '">' + response.section + ' </option>';
        $('#secid_m').append(row1)
        console.log('shortcode_m',response.user.inspectionof)
        let row2 = '<option selected value="' + response.user.inspectionof + '">' + response.user.inspectionof + ' </option>';
        $('#shortcode_m').append(row2)
        // $('#shortcode_m').val(response.user.inspectionof)
        console.log('detail_m',response.user.detail)
        $('#details_m').val(response.user.detail)
        console.log('desaf',response.date)
        $('#work_m').val(response.date)
      }
    })}
    
  function fetch_trainDetails2(){
    
    var inspection_type =$('#shortcodee0').val(); 
    var traindata=[];
    var traindata2=[];

    $.ajax({
       type:"GET",
       dataType:"json",
       url:"{% url 'train_details' %}",
       success:function(response){
       for(let i=0;i<response.train_no.length;i++){
              traindata.push(String(response.train_no[i]));
        }
        for(let j=0;j<response.stnshortcode.length;j++){
              traindata2.push(String(response.stnshortcode[j]));
        }
        
        if(inspection_type=='FP'|| inspection_type=='LC' || inspection_type=='OB' ||  inspection_type=='RR'){     
          autocomplete(document.getElementById('detailss0'),traindata);
        }else  if(inspection_type=='SI'){
          autocomplete(document.getElementById('detailss0'),traindata2);
        }
        
      }
       })
      }

 function fetch_trainDetails3(){
    
    var inspection_type =$('#shortcodeee0').val(); 
    var traindata=[];
    var traindata2=[];
  
    $.ajax({
       type:"GET",
       dataType:"json",
       url:"{% url 'train_details' %}",
       success:function(response){
       for(let i=0;i<response.train_no.length;i++){
              traindata.push(String(response.train_no[i]));
        }
        for(let j=0;j<response.stnshortcode.length;j++){
              traindata2.push(String(response.stnshortcode[j]));
        }

        if(inspection_type=='FP'|| inspection_type=='LC' || inspection_type=='OB' ||  inspection_type=='RR'){    
          autocomplete(document.getElementById('detailsss0'),traindata);
        }else  if(inspection_type=='SI'){
          autocomplete(document.getElementById('detailsss0'),traindata2);
        }
        
      }
       })
      }
      
 

function fetch_officer(e) {
  
  let new_id= e.id.substr(5, 8)
    empno = document.getElementById('empno'+ String(new_id)).value;
    // alert(empno)
    var data ={
      'empno':empno,
    }
    console.log(empno)
    $.ajax({
      
      url: "{% url 'name_wise' %}",
      type:'GET',
      // url: url,
      data:data,
      success: function(data){
    
         $("#name0").empty();
        
       var display=data.name[0].empname
       console.log(data.name.length)
 
        $("#name"+String(new_id)).val(display);
      },
      error:function(){
        alert("error");
      }
    });

  };

  function fetch_officer2(e) {
  
  let new_id_m= e.id.substr(5, 8)
    empno = document.getElementById('empno_m').value;
    // alert(empno)
    var data ={
      'empno':empno,
    }
    console.log(empno)
    $.ajax({
      
      url: "{% url 'name_wise_m' %}",
      type:'GET',
      // url: url,
      data:data,
      success: function(data){
    
         $("#name_m").empty();
        
       var display=data.name[0].empno_id__empname
      //  console.log(data.name.length)
 
        $("#name_m").val(display);
      },
      error:function(){
        alert("error");
      }
    });

  };
  

</script>
</body>
</html>
{% endblock content %}